{% extends 'base.html' %}
    {% block title %}
        {% for x in web %}
            {{ x.webtitle }}
        {% endfor %}
    {% endblock %}

    {% block column %}
        {% for l in lanmu %}
            <li><a href="/category/{{ l.id }}">{{ l.name }}</li>
        {% endfor %}
    {% endblock %}

    {% block context %}

                    {% for a in lanmutitle %}
                  <h1 class="page-header">{{ a.name }}</h1>
                    {% endfor %}
                  <div class="row placeholders">
            {% if list %}
                {% for m in list %}
                    <a href="/Article/{{ m.id }}">{{ m.title }}</a><hr>
                {% endfor %}
            {% endif %}
         </div>
    {% endblock %}
